<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

</head>
<body class="bg-light">
<nav id="app" class="navbar navbar-dark bg-warning">
    <div class="container">
        <a class="navbar-brand text-dark" href="#" v-if="user !== null">
            {{ user.username }}'s notes
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#" class="btn btn-outline-light" role="button">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<div id="app2" class="container bg-white border border-top-0 border-bottom-0 pt-4 pb-1">
        <div class="row">
            <div v-for="note in notes" class="col-sm-4">
                <div class="note mb-5 p-4">{{ note.text }}</div>
                <button type="button" class="btn btn-outline-danger" v-on:click="deleteNote(note)">Delete</button>
            </div>
        </div>
</div>

<script src="../../static/js/frontentd-core.js"></script>

</body>
</html>